---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

//import FallbackImage from "../assets/blog-placeholder-1.jpg";
import type { ImageMetadata } from "astro";
import { Font } from "astro:assets";

interface Props {
    title: string;
    description: string;
    image?: ImageMetadata;
}

const SITE_TITLE = "AshTheDev";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;

import { ClientRouter } from "astro:transitions";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- Icon Metadata -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" href="/favicon.ico" sizes="48x48" />
<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
<link rel="manifest" href="/site.webmanifest" />

<link rel="sitemap" href="/sitemap-index.xml" />

<link
    rel="alternate"
    type="application/rss+xml"
    title={SITE_TITLE}
    href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- preloads -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<ClientRouter />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://ashthe.dev" />
<meta property="og:type" content="website" />
<meta
    property="og:title"
    content="Ashton G. Heald - Developer Portfolio & Technical Blog"
/>
<meta
    property="og:description"
    content="Ash is a front-end developer specializing in the JavaScript ecosystem."
/>
<meta
    property="og:image"
    content="https://opengraph.b-cdn.net/production/images/eea5b901-da06-4c0a-96d9-70feb35ea4cd.png?token=iGN2stei1ANCRRbWh5b7zCmLOyXkOH2orv2PA591yzY&height=630&width=1200&expires=33292412807"
/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="ashthe.dev" />
<meta property="twitter:url" content="https://ashthe.dev" />
<meta
    name="twitter:title"
    content="Ashton G. Heald - Developer Portfolio & Technical Blog"
/>
<meta
    name="twitter:description"
    content="Ash is a front-end developer specializing in the JavaScript ecosystem."
/>
<meta
    name="twitter:image"
    content="https://opengraph.b-cdn.net/production/images/eea5b901-da06-4c0a-96d9-70feb35ea4cd.png?token=iGN2stei1ANCRRbWh5b7zCmLOyXkOH2orv2PA591yzY&height=630&width=1200&expires=33292412807"
/>

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

<Font cssVariable="--font-inter" preload />
<Font cssVariable="--font-playfair-display" preload />
<Font cssVariable="--font-roboto-mono" preload />
<Font cssVariable="--font-sacramento" preload />
