---
import { getCollection } from "astro:content";
import Badge from "@/components/Badge.astro";

const projects = (await getCollection("projects"))
    .filter((p) => p.data.feat)
    .sort((a, b) => Number(b.data.year) - Number(a.data.year))
    .slice(0, 3);
---

<ul class="!list-none space-y-4 !pl-0">
    {
        projects.map((project) => (
            <li>
                <a
                    class="block w-fit !border-b-0 !transition-all hover:opacity-60"
                    href={`/portfolio/${project.id}`}
                >
                    <div>
                        <span>{project.data.name}</span>
                        <Badge>{project.data.tech[0]}</Badge>
                        <Badge>{project.data.year}</Badge>
                        <Badge>{project.data.stat}</Badge>
                    </div>
                    <div class="text-accent-foreground text-sm">
                        {project.data.desc}
                    </div>
                </a>
            </li>
        ))
    }
</ul>
