---
import ToggleTheme from "./ToggleTheme.vue";
const currentPath = Astro.url.pathname;

const navLinks = [
  { href: "/", text: "Home", icon: "home-4-line" },
  { href: "/about", text: "About", icon: "user-line" },
  { href: "/projects", text: "Portfolio", icon: "folder-2-line" },
  { href: "/posts", text: "Blog", icon: "pages-line" },
];

const iconMenu = [
  {
    href: "https://bsky.app/profile/yourhandle.bsky.social",
    icon: "i-ri-bluesky-line",
    label: "BlueSky",
  },
  {
    href: "https://github.com/yourusername",
    icon: "i-ri-github-line",
    label: "Github",
  },
  { href: "/rss.xml", icon: "i-ri-rss-line", label: "RSS Feed" },
];
---

<header class="flex items-center justify-center p-8">
  <a href="/" class="font-cursive text-accent-foreground text-4xl">agh</a>
  <nav class="ml-auto">
    <ul class="flex gap-5">
      {
        navLinks.map(({ href, text }) => (
          <li class="relative">
            {" "}
            {/* Add relative positioning to the list item */}
            <a href={href} class="block">
              {" "}
              {/* Make the anchor a block element for the line to span */}
              {text}
            </a>
            {currentPath === href && (
              <div class="bg-border absolute bottom-0 left-0 h-[1px] w-full translate-y-1" />
            )}
          </li>
        ))
      }
    </ul>
  </nav>
  <ul class="border-border ml-5 flex h-4 items-center gap-4 border-l pl-4">
    {
      iconMenu.map(({ href, icon, label }) => (
        <li>
          <a href={href} aria-label={label}>
            <div class={`icon ${icon}`} />
          </a>
        </li>
      ))
    }
    <li>
      <ToggleTheme client:load />
    </li>
  </ul>
</header>
